<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>
        function sendAjax()
        {
            var cityname = $("#cityName").val();
            $.ajax(
                {
                    url:"ajax",
                    data:{"cityName":cityname},
                    type:"get",
                    dataType:"json",
                    success:function(data)
                    {
                        alert(data.city);
                    },
                    error: function() {
                        alert("error");
                    }
                });
        }
    </script>
    </script>
</head>
<body>
输入信息:
<input name="cityName" id="cityName"type=text/>
<button onclick="sendAjax()">提交</button>
</body>
</html>